{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block body %}
<section class="new_user">
    <h2>Modifier un utilisateur</h2>

    {{ form_start(userForm, {'action': path('user_edit', {id: userId, organizationId: organizationId} ), 'method': 'POST'}) }}
        {{ form_errors(userForm) }}
        {{ form_widget(userForm) }}
    {{ form_end(userForm) }}

</section>

{% endblock %}
